.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.3)50%, rgba(0,0,0,0.3)50%), url(9.png);
    background-position: center;
    background-size: cover;
    height: 109vh;

}
body{
    background-color: black;
}
.navbar{
    width: 1200px;
    height: 75;
    margin: auto;

}

.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color:#ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:#ff7200;
}
.title h1{
    font-family: Arial, Helvetica,  ;
    text-decoration: none;
    color: white;
    font-size: 30px;
    align-items: center;
   /* justify-content: center;
    display: flex;*/

    position: absolute;
    top: 98px;
    left: 655px;
    width: 500px;
    height: 70px;
    
}
.title  p{
    font-family: Arial, Helvetica,  ;
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
    position: absolute;
    top: 180px;
    left: 280px;
    width: 900px;
    height: 100px;

}
.title strong{
    font-family: Arial, Helvetica,  ;
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
    position: absolute;
    top: 170px;
    left: 315px;
    width: 900px;
    height: 100px;

}
.btn{
    width: 100px;
    height: 40px;
    position: absolute;
    left: 655px;
    background-color: #ff7200;
    border-radius: 10px;
    border: none;
    margin-top: 550px;
    margin-right: 0px;
    cursor: pointer;
    color: #fff;
    
    

}
.btn:hover{
    background-color: #fff;
    color: #ff7200;
}
.btn a {
    text-decoration: none;
    color: black;}
.p p{
    color: #fff;
    font-family: Arial, Helvetica,  ;
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    position: absolute;
    top: 600px;
    left: 590px;
    width: 500px;
    height: 100px;

}
