*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(astro.png);
    background-position: center;
    background-size: cover;
    height: 109vh;

}
.navbar{
    width: 1200px;
    height: 75;
    margin: auto;

}


.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:#ff7200;
}

.content{
    width: 1200px;
    float: left;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 25px;
    padding-bottom: 25px;
    font-family: Arial,;
    letter-spacing: 1.2px;
    line-height: 30px;
    top:35px;
    position: relative;

}

.content h1{
    font-family: 'Times New Roman',;
    font-size: 70px;
    padding-left:30px;
    letter-spacing: 2px;
    top:30px;
    position: relative;
}
.content .cn{
     width: 160px;
     height: 40px;
     background: #ff7200;
     margin-bottom: 60px;
     font-size: 18px;
     border-radius: 10px;
     cursor: pointer;
     margin-left: 40px;
     margin-top: 50px;
}
.content .cn a {
    text-decoration: none;
    color: white;
    transition: .3s ease;
}
.cn :hover{
    background-color: #fff;
    transition: .3s ease;
}
.content .cn:hover{
    background-color: #fff;
    transition: .3s ease;
}
.cn a:hover{
    
    text-decoration: none;
    color:black;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%);
    position: absolute;
    top: 50px;
    left: 910px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color:#ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
    margin: 2px;

}

.form input{
    width: 240px;
    font-family: sans-serif;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top:none;
    border-right: none;
    border-left: none;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;


}

.form input:focus{
    color: #fff;
    font-family: Arial,;
}

.btn{
    width: 240px;
    height: 40px;
    background-color: #ff7200;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    

}
.btn:hover{
    background-color: #fff;
    color: #ff7200;
}
.btn a {
    text-decoration: none;
    color: black;
}
.form .Link{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 14px;
    padding-top: 20px;
    text-align: center;

}
.form .Link a{
     text-decoration: none;
    color:#ff7200
}
.liw{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;
   
}

.icons a{
    text-decoration: none;
    color: white;

}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 13px;
    transition: 0.3s ease;

}
.icons ion-icon:hover{
    color: #ff7200;
    
   
}

